
{%extends 'base.html' %} 

{%block header%}
    {% include 'header.html' %}
{%endblock%}

{%block content%}
    <body> 
        <div class="container">
            <p class="about-text"> Great Estate is a real estate management company where people can sell, rent and vice versa. Our mission is to provide a seamless and convenient platform for property transactions. We have a team of experienced real estate professionals who are dedicated to making sure that every transaction is completed smoothly and efficiently. Whether you are looking to buy, sell or rent a property, Great Estate is here to help. </p>
            <img src="https://via.placeholder.com/600x400" class="about-image" alt="about us">
        </div> 
    </body> 
{%endblock%}




